.DS_Store

*.pyc

diy/.idea/*
diy/application/.idea/*
website/.idea/*

reference/*
diy/build/*
# 绝对路径。。
#diy/application/views/index.py

*~

# 个人信息 TODO
diy/application/data/code.txt
diy/application/data/doubanfm.cookie
diy/application/data/verify_code.jpg
diy/application/data/weibo_token.txt

